@import "../system/_mix", "../system/_vars";

/* BTNS */
.btn {
	display:inline-block;
	text-decoration:none;
	vertical-align:middle;
	line-height:$btn-line-heigh;
	text-align:center;
	transition:background .3s;
	position:relative;
	bottom:0;
	box-sizing:border-box;
	border:1px solid transparent; //1px border для равной с .field высоты
	max-width:100%;
	opacity:1;
	text-overflow:ellipsis;
	user-select: none;

	//state
	&:hover:not(.no-hover), &--hover {text-decoration:none;cursor:pointer;}
	&:active, &--active {}
	&:disabled, &--disabled {cursor:default;opacity:.7;}

	//mod
	&--fluid {
		width:100%;
		display:block;
		clear:both;
	}

	//sizes
	&--xs {}
	&--sm {}
	&--md {}
	&--lg {}
	&--xl {}
}


// Main button
.btn-main {
	background:$color-main;
	color:$color-text;

	&:hover {color:#fff;}
	&:active {color:#fff;}
}

// Accent button
.btn-accent {
	background:$color-accent;
	color:$color-text;

	&:hover {color:#fff;}
	&:active {color:#fff;}
}