@import "../system/_mix", "../system/_vars";

/* BTNS */
.btn {
	display: inline-flex;
	text-decoration: none;
	vertical-align: middle;
	justify-content: center;
	align-content: center;
	align-items: center;
	line-height: $btn-line-heigh;
	text-align: center;
	transition: background .3s;
	position: relative;
	bottom: 0;
	box-sizing: border-box;
	border: 1px solid transparent; //1px border для равной с .field высоты
	max-width:100%;
	opacity:1;
	text-overflow: ellipsis;
	user-select: none;
	transition: color $time-base ease, background-color $time-base ease, border $time-base ease;

	//state
	&:hover:not(.no-hover), &--hover {text-decoration:none;cursor:pointer;}
	&:active, &--active {
		outline: none;
	}
	&:disabled, &--disabled {cursor:default;opacity:.7;}

	&:focus {
		outline: none;
	}

	//mod
	&--fluid {
		width: 100%;
		clear: both;
	}

	&--min-width {
		min-width: 192px;
	}

	//sizes
	&--base {
		height: $btn-base;
		padding-left: 24px;
		padding-right: 24px;
	}

	// icns
	&--plus:before {
		content: '\2b ';
		display: inline-block;
		vertical-align: middle;
		margin-right: 0.3em;
		margin-top: -0.15em;
	}
}


// Main button
.btn-main {
	background: $color-main;
	color: $color-text;

	&:hover {color:#fff;}
	&:active {color:#fff;}
}

// Accent button
.btn-accent {
	background: $color-accent;
	color: $color-text;
	border-radius: 3px;

	&:hover {
		color: $color-text;
		background-color: lighten($color-accent, 10%);
	}

	&:active {
		
	}
}

// Hollow green
.btn-hollow-green {
	border-color: $color-main;
	color: $color-main;
	border-radius: 5px;

	&:hover {
		border-color: lighten($color-main, 10%);
		color: lighten($color-main, 10%);
	}
}



// Ripple
[data-ripple] {
  position: relative;
  overflow: hidden;
}

[data-ripple] .ripple {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

[data-ripple] .ripple span {
  transform: scale(0);
  border-radius: 100%;
  position: absolute;
  opacity: 0.75;
  background-color: #fff;
  animation: ripple 1000ms;
	will-change: opacity, transform;
}

@keyframes ripple {
  to {
    opacity: 0;
    transform: scale(2);
  }
}
