.helper {
  display: inline-block;
  vertical-align: top;
  background:$color-mark;
  font-size: 14px;
  padding: 16px;
  @include line-height(14px, 16px);
  border-radius: 5px;

  &::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 12px solid transparent;
  }

  &--top-left {
    left: 10px;
    top: 0;
    border-bottom-color: $color-mark;
  }
  
  &--left-center {
    left: 0;
    top: 50%;
    border-right-color: $color-mark;
  }
}