@import "../system/_mix", "../system/_vars";
/* TITLES */
.title {
	display:block;
	font-weight:bold;
	cursor:default;
	clear:both;

	&--h0 {
		font-size: 48px;
		font-weight: 500;
		@include line-height(48px, 56px);
	}

	&--h1 {
		font-size: $h1;
		font-weight: 500;
		@include line-height($h1, 38px);
	}


	// paddings
	&--padd-base {
		margin-bottom: 24px;
	}
}