.socials {
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
  vertical-align: top;

  &__item {
    display: inline-block;
    vertical-align: top;
    line-height: 1;
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: inline-block;
    vertical-align: top;
    color: $color-accent;
    transition: color $time-base ease;

    &:hover {
      color: $color-accent;
    }
  }

  &__icn {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
  }
}
