.user-control {
  &__setting {
    margin-bottom: 24px;
  }
}

.user-setting {
  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 16px;
    cursor: default;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__label {
    display: inline-block;
    vertical-align: top;
    width: 134px;
    padding-right: 16px;
  }

  &__val {
    display: inline-block;
    vertical-align: top;
    font-weight: 500;

    &.is-hidden {
      display: none;
    }
  }

  &__edit {
    display: inline-block;
    vertical-align: top;
  }

  &__edit-icn {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    text-indent: 110%;
    overflow: hidden;
    background: url('#{$img}/edit.svg') no-repeat center center;
    transition: transform $time-base ease;
    user-select: none;
    will-change: transform;

    &:hover {
      transform: scale(1.05);
    }

    &.is-hidden {
      display: none;
    }
  }

  &__edit-field {
    //display: flex;
    //justify-content: flex-start;
    //align-items: flex-start;
//
    //.input {
    //  margin-right: 12px;
    //}

    &.is-hidden {
      display: none;
    }
  }
}

.social-card {
  padding: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
  height: 92px;
  border-radius: 5px;
  background: $color-fill-smoke;
  user-select: none;
  transition: transform $time-base ease-out;

  &:not(&--empty):hover {
    transform: translateY(-3px);
  }

  &--empty {
    justify-content: center;
    align-items: center;
    background: $color-white;
    border: 1px dashed $color-fill-grey;
  }

  &__soc,
  &__del {
    position: absolute;
    top: 12px;
    line-height: 1;
    font-size: 0;
  }

  &__soc {
    left: 12px;
  }

  &__del {
    cursor: pointer;
    right: 12px;
    color: $color-important-dark;
    transition: transform $time-base ease;

    &:hover {
      transform: scale(1.4);
    }
  }

  &__del-icn {
    width: 10px;
    height: 10px; 
  }

  &__content {
    height: 48px;
    display: flex;
    flex: 0 0 auto;
    justify-content: flex-start;
    align-items: center;
    max-width: 100%;
  }

  &__ava {
    flex: 0 0 auto;
    width: 48px;
    height: 48px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    margin-right: 12px;
  }

  &__ava-foto {
    width: 100%;
    height: 100%;
    display: block;
  }

  &__name {
    display: inline-block;
    vertical-align: middle;
    font-weight: 400;
    cursor: default;
  }
}
