@import "../system/_mix", "../system/_vars";

.footer {
  background: $color-background;
  margin-top: auto;
  padding-top: 32px;
  padding-bottom: 32px;
  color: $color-white;

  &__core {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {

  }

  &__logo {
    display: inline-block;
    vertical-align: top;
    width: 115px;
    height: 32px;
    margin-right: 32px;
    background: url('#{$img}/logo.svg') no-repeat center center;
    background-size: cover;
  }

  &__menu {
    margin-right: 32px;
  }

  &__copyright {
    max-width: 50%;
  }
}

// Menu
.footer-menu {
  &__item {
    display: inline-block;
    vertical-align: top;
  }

  &__link {
    color: $color-accent;
    margin-right: 24px;

    &:last-child {
      margin-right: 0;
    }
  }
}