@import "../system/_mix", "../system/_vars";

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: $color-background;
  position: relative;
  z-index: $z-header;


  &__core {
    height: $header-height;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__logo, &__profile {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &__logo {
    left: 32px;
    display: inline-block;
    vertical-align: top;
    max-width: 144px;
    user-select: none;
    margin-right: 24px;
    transition: opacity $time-base ease-in;
    outline: none;

    &:hover {
      opacity: 0.8;
    }
  }

  &__logo-img {
    width: 100%;
    display: block;
  }

  &__profile {
    right: 32px;
    margin-left: auto;
  }

  @media screen and (max-width: $media-header-break) {
    padding-left: 16px;
    padding-right: 16px;

    &__logo,
    &__profile {
      position: static;
      transform: none;
    }
  }
}


.header-profile {
  &__ava {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 24px;
  }

  &__ava-img {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__link {
    color: $color-white;

    &:hover {
      color: $color-accent;
    }
  }
}


.role-switcher {
  display: inline-flex;
  justify-content: flex-start;
  align-items: stretch;
  font-size: 18px;
  line-height: 1;
  user-select: none;

  &__item {
    display: inline-block;
    vertical-align: top;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    height: 34px;
    color: rgba($color-white, 0.5);
    border: 1px solid rgba($color-white, 0.5);

    &.is-active {
      font-weight: 700;
      background: $color-accent;
      border-color: $color-accent;
      color: $color-text;
      cursor: default;
    }

    &:not(.is-active):hover {
      color: $color-accent;
      border-color: $color-accent;
    }
  }

  &__item:first-child &__link {
    border-right-color: transparent;
    border-radius: 5px 0 0 5px;
  }

  &__item:last-child &__link {
    border-left-color: transparent;
    border-radius: 0 5px 5px 0;
  }
}