@import "../system/_mix", "../system/_vars";

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: $color-background;
  height: 88px;
  position: relative;

  &__core {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: inline-block;
    vertical-align: top;
    max-width: 144px;
    user-select: none;
    transition: opacity $time-base ease-in;

    &:hover {
      opacity: 0.8;
    }
  }

  &__logo-img {
    width: 100%;
    display: block;
  }
}