.field {
  position: relative;
  width: 100%;

  &__label {
    display: block;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    margin-bottom: 8px;

    &--req:after {
      content: '*';
      vertical-align: top;
      padding-left: 0.5em;
      color: $color-important;
    }
  }

  &__content {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .show-pass {
    position: absolute;
    right: 12px;
    top: 50%;
    margin-top: -10px;
  }

  // states
  &.has-error {

  }

  // mods
  &--inline {
    display: inline-block;
    vertical-align: middle;
  }
}