.inputs-list {
  &__item {
    display: block;
    width: 100%;
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}


.show-pass {
  display: inline-block;
  vertical-align: middle;
  background: url('#{$img}/eye.svg') no-repeat center center;
  width: 19px;
  height: 19px;
  transition: transform $time-base ease;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }
}