.inputs-list {
  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }

    &--footer {
      padding-top: 12px;
      justify-content: center;
    }
  }

  &__content {
    display: inline-block;
    vertical-align: middle;
    cursor: default;
    line-height: 1;

    a {
      color: $color-text;
      text-decoration: underline;
    }

    a:hover {
      color: $color-main;
    }
  }
}


.show-pass {
  display: inline-block;
  vertical-align: middle;
  background: url('#{$img}/eye.svg') no-repeat center center;
  width: 19px;
  height: 19px;
  transition: transform $time-base ease;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }
}


.inline-form {
  display: flex;
  justify-content: start;

  & > * { // any child element 
    margin-left: 12px;

    &:first-child {
      margin-left: 0;
    }
  }

  &--align-bottom {
    align-items: flex-end;
  }
}