//Mixins
@mixin font-size($sizeValue) {
	font-size: ($sizeValue / 10px) + rem; //px to rem
}

@mixin line-height($fontSize, $fontInterliase) {
	line-height: $fontInterliase / $fontSize;
}

@mixin placeholder {
	&::-webkit-input-placeholder {@content}
	&::-moz-placeholder {@content}
	&:-moz-placeholder {@content}
	&:-ms-input-placeholder {@content}
}


@mixin retina {

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    @content;
  }
}


%spinner-black {
  background-image: url('data:image/svg+xml,%3Csvg viewBox="0 0 18 19" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="m8.57236177 17.162562c-3.3579965.0942629-6.4436936-1.8386644-7.82421847-4.9012086-1.41911375-3.19040645-.78476226-6.92085884 1.60913173-9.46287554 2.49755584-2.62520554 6.32526953-3.49778465 9.71384107-2.21440145 3.5140979 1.35069406 5.8721129 4.68102637 5.9788839 8.44425088 0 .74601789-.604767 1.35078491-1.3507849 1.35078491s-1.3507849-.60476702-1.3507849-1.35078491c0 0 0 0 0-.10333874.0616026-2.77276538-1.5270327-5.31806054-4.0449733-6.48081492-2.68755534-1.20124217-5.83192339-.69071747-8.00137059 1.29911552-2.25050866 2.11528094-3.00762301 5.3766966-1.91914792 8.26709875 1.13990538 3.0087648 3.9739291 5.0397181 7.18942338 5.1521741z" fill="%23000" fill-rule="evenodd" transform="translate(-.05 .95)"/%3E%3C/svg%3E');
}