.box {
  background: $color-white;
  box-shadow: 0 9px 46px 3px rgba($color-black, 0.06);
  border-radius: 5px;

  &--padd-base {
    padding: 24px;
  }

  &--marg-base {
    & + & {
      margin-top: 24px;
    }
  }
}


// Grid inside box (only box)
// TODO: change to bootstrap
.box-grid {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: -12px;
  margin-right: -12px;
  position: relative;
  width: 100%;
  min-height: 1px;

  &__col {
    flex: 0 1 auto;
    padding-left: 12px;
    padding-right: 12px;
    max-width: 100%;
  }

  &--3cols &__col {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}