.box {
  background: $color-white;
  box-shadow: 0 9px 46px 3px rgba($color-black, 0.06);
  border-radius: 5px;

  &--padd-base {
    padding: 24px;
  }

  &--marg-base {
    & + & {
      margin-top: 24px;
    }
  }
}
