.box {
  position: relative;
  background: $color-white;
  box-shadow: 0 9px 46px 3px rgba($color-black, 0.06);
  border-radius: 5px;

  &--padd-base {
    padding: 24px;
  }
}


// Any block on flow. Usually its 'box'
.flow-block {
  & + & {
    margin-top: 24px;
  }
}