.footer {
  background: $color-background;
  margin-top: auto;
  padding-top: 32px;
  padding-bottom: 32px;
  color: $color-white;
  min-width: 1240px;

  &__core {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__logo {
    display: inline-block;
    vertical-align: top;
    width: 115px;
    height: 32px;
    margin-right: 32px;
    background: url('#{$img}/logo-c.svg') no-repeat center center;
    background-size: cover;
  }

  &__soc {
    margin-right: 32px;
  }

  &__menu {
    font-size: 14px;
  }

  &__copyright {
    max-width: 50%;
    cursor: default;
    font-size: 14px;
  }
}

// Menu
.footer-menu {
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
  vertical-align: middle;

  &__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 24px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    color: $color-accent;
    margin-right: 24px;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: $color-white;
    }
  }
}
