.side-nav {
  user-select: none;
  position: sticky;
  top: 24px;
  left: 0;
  width: 122px;

  &__item {
    margin-top: 26px;
    font-size: 16px;
    @include line-height(16px, 18px);
    white-space: nowrap;

    &:first-child {
      margin-top: 0;
    }

    &--disabled {
      pointer-events: none;
      user-select: none;
      opacity: 0.2;
    }
  }

  &__link {
    position: relative;
    display: block;
    text-decoration: none;
    padding-left: 11px + 18px;
    color: $color-text;
    transition: color $time-small ease, font-weight $time-small ease;

    &::before {
      content: '';
      width: 18px;
      height: 18px;
      border-radius: 50%;
      display: inline-block;
      vertical-align: top;
      position: absolute;
      left: 0;
      top: 0;
      background: $color-fill-grey;
    }

    &:hover {
      text-decoration: none;
      color: $color-text;
      font-weight: 500;
    }
  }

  &__item.is-active &__link {
    font-weight: 500;

    &::before {
      background-color: $color-main;
    }
  }
}
