// Base
$w: 1374px;
$bg: #fafafa;
$img: '../img';
$fonts: '../fonts';

// Colors
$color-black: #000;
$color-white: #fff;

$color-main: #009d98;
$color-main-dark: #033131;
$color-accent: #feca00;
$color-background: #023838;
$color-border: #b1b1b1;

$color-muted: lighten($color-main, 20%);


// Colors-text
$color-text: $color-black;
$color-link: $color-main;
$color-link-hover: darken($color-main, 20%);

// Paddings
$padd-xs: 1rem;
$padd-sm: 2rem;
$padd-md: 3rem;
$padd-lg: 4rem;
$padd-xl: 5rem;


// Fonts options
$font: 'Helvetica Neue', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
$font-base: 62.5%;
$font-size: 16px;
$line-height: 1.5;

$btn-line-heigh: 1.25;
$form-line-height: 1.25;

$h0: 48px;
$h1: 32px;
$h2: 3.2rem;
$h3: 2.8rem;
$h4: 2.4rem;
$h5: 2rem;
$h6: 1.8rem;


// Time
$time-base: 0.3s;
$time-medium: 0.5s;
$time-large: 1s;

// Media
$media-xs: 320px;
$media-sm: 480px;
$media-md: 620px;
$media-lg: 960px;
$media-xl: 1200px;