// Base
$w: 1376px;
$bg: #fafafa;
$img: '../img';
$fonts: '../fonts';

$w-content: 1024px;


// Colors
$color-black: #000;
$color-white: #fff;

$color-main: #009d98;
$color-main-dark: #033131;
$color-accent: #feca00;
$color-background: #023838;
$color-border: #b1b1b1;
$color-fill-grey: #D8D8D8;
$color-fill-smoke: #F6F6F6;
$color-important: #FF5760;
$color-muted: #787878;


// Colors-text
$color-text: $color-black;
$color-link: $color-main;
$color-link-hover: lighten($color-main, 10%);


// Fonts options
$font: 'Helvetica Neue', 'Roboto', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
$font-base: 62.5%;
$font-size: 16px;
$line-height: 1.5;

$btn-line-heigh: 1.25;
$form-line-height: 1.25;

$h0: 48px;
$h1: 32px;
$h2: 24px;

$h3: 2.8rem;
$h4: 2.4rem;
$h5: 2rem;
$h6: 1.8rem;


// Time
$time-small: 0.1s;
$time-base: 0.3s;
$time-medium: 0.5s;
$time-large: 1s;