.educator-card {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  &__cover {
    flex: 0 0 auto;
    margin-right: 16px;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    background: $color-fill-smoke;
  }

  &__cover-img {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 100%;
  }

  &__content {
    width: 100%;
    padding-top: 20px;
  }

  &__stats {
    line-height: 1;
    margin-top: 8px;
    margin-bottom: 24px;
  }

  &__rate,
  &__views {
    display: inline-block;
    vertical-align: middle;
  }

  &__views {
    color: $color-muted;
    margin-left: 16px;
  }
}


// Fin
.educator-finances {
  &__stat {
    margin-bottom: 24px;
  }
}

.finances {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  cursor: default;

  &__item {
    margin-right: 64px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__title {
    display: block;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 8px;
  }

  &__content {

  }

  &__num {
    font-size: $h0;
    line-height: 1;
    font-weight: 700;
    display: inline-block;
  }

  &__progress {
    display: inline-block;
    vertical-align: top;
    color: $color-good;
    font-size: 18px;
    margin-left: 0.5em;
  }
}


.educator-tops {
  &__title {
    display: block;
    font-weight: 400;
    margin-bottom: 8px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
  }
}


// Graph
.educator-graph {
  padding-bottom: 24px;

  &__img {
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
  }
}


.student-stats {
  max-width: 100%;
  width: 100%;

  &__table {
    display: table;
    width: 100%;
  }

  &__row {
    display: table-row;
  }

  &__cell {
    display: table-cell;
    vertical-align: middle;
    padding-top: 16px;

    &--percent,
    &--score {
      width: 1px;
      white-space: nowrap;
      padding-left: 32px;
    }
  }

  &__row--head &__cell {
    padding-top: 0;
    padding-bottom: 16px;
    border-bottom: 1px solid $color-fill-grey;
    font-weight: 500;
  }
}