.page-profile {
  //
}

.profile-user {
}

.profile-empty {
  margin-top: 24px;
  margin-bottom: 24px;
}


// User
.user-card {
  //
  &__inline-value {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 500;
    margin-right: 0.5em;
  }

  &__ava {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-right: 50%;
    width: 100px;
    height: 100px;
    flex: 0 0 auto;
    user-select: none;
    border-radius: 50%;
    font-size: 14px;
    text-align: center;
    color: $color-muted;

    &--empty {
      border: 1px solid $color-fill-grey;
    }
  }

  &__ava-foto {
    display: block;
  }

  &__name {
    margin-bottom: 10px;

    &--empty {
      color: $color-border;
    }
  }

  &__date {
    display: block;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 12px;
  }

  &__edit {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.user-self-card {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  &__main {
    width: 45%;
    padding-right: 48px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__info {
    position: relative;
    align-self: flex-end;
    width: 55%;
  }

  &__ava {
    margin-right: 16px;
  }
}

.user-public-card {
  position: relative;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 100px;

  &__cell {
    flex: 0 0 50%;
    width: 50%;
    max-width: 50%;
    margin-top: 16px;

    &:first-child,
    &:nth-child(2) {
      margin-top: 0;
    }

    &--name,
    &--score,
    &--info {
      padding-left: 100px + 16px; // ava width + margin
    }

    &--cv {
      text-align: right;
    }
  }


  &__ava {
    position: absolute;
    left: 0;
    top: 0;
  }

  &__btn {
    //font-size: 18px;
  }
}


// Skill scores
.skills-card {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;

  &__col-side {
    width: 45%;
    padding-right: 48px;
  }

  &__col-main {
    width: 55%;
  }

  &--titles {
    align-items: flex-end;
  }
}


.skill-scores {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;

  &__table {
    display: table;
    width: 100%;
    max-width: 100%;
  }

  &__row {
    display: table-row;
    width: 100%;
    vertical-align: middle;
  }

  &__cell {
    display: table-cell;
    padding-bottom: 20px;

    &:last-child {
      padding-bottom: 0;
    }

    &--label ,
    &--value {
      padding-right: 16px;
    }
  }
}

// Skils
.skills-list {
  display: table;
  width: 100%;

  &__row {
    display: table-row;
    width: 100%;
  }

  &__cell {
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 12px;
    font-size: 14px;
    @include line-height(14px, 18px);

    &--label {
      min-width: 150px - 16px; // minus padd
      padding-right: 16px;
    }

    &--content {
      width: 100%;
    }

    &--val {
      width: 1px;
      padding-left: 16px;
    }
  }

  &__row:last-child &__cell {
    padding-bottom: 0;
  }

  &__progress {
    flex: 1 1 auto;
  }

  &__val {
    margin-left: 16px;
    width: 2em;
    white-space: nowrap;
  }
}






// Job offer
.job-card {
  background: $color-fill-smoke;
  border-radius: 5px;
  padding: 16px 16px 19px;

  &__title {
    display: block;
    font-size: 18px;
    @include line-height(18px, 22px);
    font-weight: 500; 
    margin-bottom: 8px;
  }

  &__info {
    display: block;
    font-size: 14px;
  }

  &__text {
    margin-top: 12px;
    font-size: 12px;
    @include line-height(12px, 18px);
  }

  &__more {
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
  }
}

// Education block
.education-card {
  height: 100%;
  background: $color-fill-smoke;
  padding: 16px;
  border-radius: 5px;
  cursor: default;

  &__title {
    display: block;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 8px;
  }

  &__grades {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: -4px;
    margin-right: -4px;
  }

  &__grades-item {
    width: 50%;
    padding-left: 4px;
    padding-right: 4px;
  }

  &__grades-label {
    display: block;
    margin-bottom: 4px;
    font-size: 14px;
  }

  &__grades-val {
    display: block;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
  }

  &__show {
    display: inline-block;
    vertical-align: top;
    margin-top: 12px;
    color: $color-link;
    cursor: pointer;

    &:hover {
      color: $color-link-hover;
    }
  }
}


// Grades
.profile-grades {
  &__table {
    margin-bottom: 28px - 12px; // minus cell padd
  }
}

.grades-table {
  &__cell {
    &--grade,
    &--status {
      width: 1px;
      white-space: nowrap;
    }
  }

  &__icn {
    width: 16px;
    height: 16px;
    vertical-align: middle;

    &--main {
      color: $color-main;
    }

    &--grey {
      color: $color-fill-grey;
    }
  }
}


// Test scores
.score-card {
  background: $color-fill-smoke;
  padding: 16px;
  border-radius: 5px;
  cursor: default;

  &__head {
    margin-bottom: 16px;
  }

  &__title {
    display: block;
    font-weight: 500;
    font-size: 18px;
    @include line-height(18px, 22px);
  }

  &__date {
    line-height: 1;
  }

  &__results {
    font-size: 14px;
  }

  &__results-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 8px;
    
    &:first-child {
      margin-top: 0;
    }
  }

  &__results-label {
    padding-right: 4px;
  }

  &__results-val {
    font-weight: 700;
    padding-left: 4px;
  }


  // Sum
  &__sum {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 28px;
    line-height: 1;
  }

  &__sum-status {
    padding-right: 4px;
  }

  &__sum-val {
    padding-left: 4px;
  }

  &__sum-icn {
    width: 16px;
    height: 16px;
    color: $color-main;
    vertical-align: bottom;
  }

  &__sum-you {
    font-size: 18px;
    font-weight: 700;
  }

  &__sum-all {
    font-size: 14px;
  }
}


.add-card {
  border-radius: 5px;
  border: 1px dashed $color-fill-grey;
  padding-top: 24px;
  padding-bottom: 24px;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Empty block
.blank-box {
  text-align: center;

  &__description {
    font-weight: 500;
    font-size: 18px;
    @include line-height(18px, 22px);
  }

  &__btn {
    margin-top: 24px;
  }
}



.empty-card {
  border: 1px dashed $color-fill-grey;
  width: 100%;
  display: block;
  height: 190px;
  border-radius: 5px;
}





