.goals-grid {
  &__row {
    margin-bottom: -24px;
  }

  &__col {
    margin-bottom: 24px;
  }
}


// Timeline
.goal-timeline {
  margin-bottom: 30px;
  margin-left: -24px;
  margin-right: -24px;
  padding-left: 12px;
  padding-right: 12px;

  &__wrapper {
    position: relative;
    overflow: hidden;
    padding-bottom: 2px;
    cursor: move;
    cursor: grabbing;
    //-webkit-overflow-scrolling: touch;
    // -ms-overflow-style: -ms-autohiding-scrollbar;

    //&::-webkit-scrollbar {
    //  display: none;
    //}
  }

  &__line {
    will-change: transform;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: none;
  }

  &__item {
    flex: 0 0 auto;
    display: block;
    width: 120px;
    text-align: center;
    margin-left: 32px;
    margin-right: 32px;
    user-select: none;

    &:first-child {
      margin-left: 0;
    }
  }

  &__stage {
    display: block;
    text-transform: uppercase;
    margin-bottom: 4px;
    font-size: 12px;
    color: $color-muted;
    font-weight: 500;
    letter-spacing: 0.1em;
  }

  &__title {
    display: block;
    font-weight: 400;
    margin-bottom: 6px;
  }

  &__item.is-active &__title {
    font-weight: 700;
  }

  &__point {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    width: 32px;
    height: 32px;

    &:after {
      content: '';
      background: $color-fill-grey;
      height: 6px;
      width: 120px + 32px + 32px; // item width + margins
      position: absolute;
      left: 16px;
      transform: translateX(-100%);
    }
  }

  &__item--done &__point {
    &:after {
      background-color: $color-accent;
    }
  }

  &__item:first-child &__point {
    &:after {
      content: none;
    }
  }

  &__point-dot {
    width: 16px;
    height: 16px;
    background: $color-fill-grey;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    z-index: 1;
    box-shadow: 0 0 0 2px $color-white;
  }

  &__item--strong &__point-dot {
    width: 100%;
    height: 100%;
  }

  &__item--done &__point-dot {
    background: $color-accent;
  }

  &__result {
    display: block;
    font-size: 12px;
    line-height: 1;
    margin-top: 4px;
  }
}



// Item
.goal-card {
  border-radius: 5px;
  background: $color-fill-smoke;

  &__core {
    padding: 12px 16px;
  }

  &__title {
    display: block;
    font-weight: 500;
    overflow: hidden;
    width: 100%;
    height: 44px;
  }

  &__stat {
    margin-top: 8px;
    font-size: 14px;
    cursor: default;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__stat-rate {
    display: inline-block;
    vertical-align: middle;
  }

  &__stat-val {
    display: inline-block;
    vertical-align: middle;
    margin-left: 16px;
    line-height: 1;
  }

  &__location {
    display: block;
    font-size: 14px;
    margin-top: 12px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    line-height: 1;
  }

  &__price {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    font-weight: 700;
    margin-right: 8px;
  }

  &__more {
    margin-left: 8px;
  }

  &__part {
    padding: 8px 16px;
    background: rgba($color-accent, 0.16);
    border-radius: 0 0 5px 5px;
    cursor: default;
  }

  &__part-title {
    display: block;
    font-size: 12px;
    @include line-height(12px, 16px);
    margin-bottom: 2px;
    font-weight: 400;
    line-height: 1;
  }

  &__part-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__part-name {
    font-weight: 500;
    font-size: 16px;
    @include line-height(16px, 22px);
    margin-right: 16px;
  }

  &__part-more {
    flex: 0 0 auto;
    color: $color-text;
    font-size: 14px;
    text-decoration: none;

    &:hover {
      color: $color-text;
      text-decoration: underline;
    }
  }
}


// Add form
.add-goal {
  text-align: center;

  &__title {
    margin-bottom: 16px;
    font-weight: 500;
    display: block;
  }

  &__input {
    width: 100%;
    max-width: 500px;
  }

  &__help {
    color: $color-muted;
    font-size: 14px;
    margin-top: 16px;
  }

  &__btn {
    margin-top: 16px;
  }
}